<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Albums page</h1>

                <div th:if="${albums.empty}">
                    <div>No albums found</div>
                </div>
                
                <div th:each="album : ${albums}">
                    <p><span th:text="${album.albumTitle}"></span></p>
                </div>


</body>
</html>